.topSectionWImg{
    margin: 40px 0;
}

.contactPage main, .portfolioPage main{
    margin-top: 60px;
}
.formHeader{
    text-align: center;
}

.contactPage form div.row, .portfolioRow{
    margin: 20px 0;
}

/* Extra Responsive Styling */
@media (max-width: 768px){
    .topSectionWImg img, .card{
        margin-bottom: 20px;
    }
}